In [163]:
import pandas as pd

In [164]:
df= pd.read_csv('C:\\Users\\rk9bdo\\Desktop\\TechConclave\\Breaking the OMG of ML\\Dataset\\AHD_Data.csv')
df.head()

,AHD,Pri,Status,Opened,Closed,Time,Analyst,Customer,Description,Region,Resolution
0,1269998,2.0,Closed,1/6/2014 7:09,1/6/2014 7:33,0.0,"Bansode, Santosh","Elankuppan, Mohan",Suddenly my Desktop is not working - pni6w851 ...,Products,H/W Failure
1,1270377,2.0,Closed,1/6/2014 22:49,1/6/2014 23:10,0.0,"Mehtre, Ram","Labhasetwar, Amruta",Skillsoft course unable to run.,Products,S/W Configuration
2,1272796,2.0,Closed,1/12/2014 23:25,1/12/2014 23:30,0.0,"Shinde, Vinayak","Surka, Zoher",Please unlock the PLM account of Abhishek Ragh...,Products,Password Reset
3,1277147,2.0,Closed,1/23/2014 1:11,1/23/2014 2:27,0.0,"Mehtre, Ram","Gundage, Vishal",Hello I am not able to connect to our any intr...,Products,S/W Configuration
4,1278093,2.0,Closed,1/26/2014 22:33,1/26/2014 23:05,0.0,"Kshirsagar, Ganesh","Patil, Ashutosh","Hi, I am facing startup problems with my prima...",Products,S/W Configuration

In [165]:
type(df)

pandas.core.frame.DataFrame

In [166]:
df.describe()

               Pri         Time
count  8250.000000  8250.000000
mean      3.217091     6.549032
std       0.542551    85.686766
min       2.000000     0.000000
25%       3.000000     0.000000
50%       3.000000     0.000000
75%       3.000000     8.447500
max       5.000000  5229.000000

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8252 entries, 0 to 8251
Data columns (total 11 columns):
AHD            8251 non-null object
Pri            8250 non-null float64
Status         8232 non-null object
Opened         8250 non-null object
Closed         8250 non-null object
Time           8250 non-null float64
Analyst        8250 non-null object
Customer       8250 non-null object
Description    8250 non-null object
Region         8250 non-null object
Resolution     8162 non-null object
dtypes: float64(2), object(9)
memory usage: 709.2+ KB

In [168]:
df= pd.read_csv('C:\\Users\\rk9bdo\\Desktop\\TechConclave\\Breaking the OMG of ML\\Dataset\\AHD_Data.csv', parse_dates=['Opened','Closed'])

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8252 entries, 0 to 8251
Data columns (total 11 columns):
AHD            8251 non-null object
Pri            8250 non-null float64
Status         8232 non-null object
Opened         8250 non-null datetime64[ns]
Closed         8250 non-null datetime64[ns]
Time           8250 non-null float64
Analyst        8250 non-null object
Customer       8250 non-null object
Description    8250 non-null object
Region         8250 non-null object
Resolution     8162 non-null object
dtypes: datetime64[ns](2), float64(2), object(7)
memory usage: 709.2+ KB

In [170]:
df.isnull()

,AHD,Pri,Status,Opened,Closed,Time,Analyst,Customer,Description,Region,Resolution
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
8222,False,False,False,False,False,False,False,False,False,False,False
8223,False,False,False,False,False,False,False,False,False,False,False
8224,False,False,False,False,False,False,False,False,False,False,False
8225,False,False,False,False,False,False,False,False,False,False,False
8226,False,False,False,False,False,False,False,False,False,False,False
8227,False,False,False,False,False,False,False,False,False,False,False
8228,False,False,False,False,False,False,False,False,False,False,False
8229,False,False,False,False,False,False,False,False,False,False,False
8230,False,False,False,False,False,False,False,False,False,False,False
8231,False,False,False,False,False,False,False,False,False,False,False
8232,False,False,False,False,False,False,False,False,False,False,False
8233,False,False,False,False,False,False,False,False,False,False,False
8234,False,False,False,False,False,False,False,False,False,False,False
8235,False,False,False,False,False,False,False,False,False,False,False
8236,False,False,False,False,False,False,False,False,False,False,False
8237,False,False,False,False,False,False,False,False,False,False,False
8238,False,False,False,False,False,False,False,False,False,False,False
8239,False,False,False,False,False,False,False,False,False,False,False
8240,False,False,False,False,False,False,False,False,False,False,False
8241,False,False,False,False,False,False,False,False,False,False,False
8242,False,False,False,False,False,False,False,False,False,False,False
8243,False,False,False,False,False,False,False,False,False,False,False
8244,False,False,False,False,False,False,False,False,False,False,False
8245,False,False,False,False,False,False,False,False,False,False,False
8246,False,False,False,False,False,False,False,False,False,False,False
8247,False,False,False,False,False,False,False,False,False,False,False
8248,False,False,False,False,False,False,False,False,False,False,False
8249,False,False,False,False,False,False,False,False,False,False,False
8250,True,True,True,True,True,True,True,True,True,True,True
8251,False,True,True,True,True,True,True,True,True,True,True

In [171]:
#
df['Opened'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8222    False
8223    False
8224    False
8225    False
8226    False
8227    False
8228    False
8229    False
8230    False
8231    False
8232    False
8233    False
8234    False
8235    False
8236    False
8237    False
8238    False
8239    False
8240    False
8241    False
8242    False
8243    False
8244    False
8245    False
8246    False
8247    False
8248    False
8249    False
8250     True
8251     True
Name: Opened, Length: 8252, dtype: bool

In [172]:
#how many null values are in each column
df.isnull().sum()

AHD             1
Pri             2
Status         20
Opened          2
Closed          2
Time            2
Analyst         2
Customer        2
Description     2
Region          2
Resolution     90
dtype: int64

In [173]:
#how many null values are in a specific column
df['Status'].isnull().sum()

20

In [174]:
#df1 = df[df['Status'] != null]

In [175]:
#Drop invalid rows
df1=df.dropna()

In [176]:
df1.isnull().sum()

AHD            0
Pri            0
Status         0
Opened         0
Closed         0
Time           0
Analyst        0
Customer       0
Description    0
Region         0
Resolution     0
dtype: int64

In [177]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8145 entries, 0 to 8249
Data columns (total 11 columns):
AHD            8145 non-null object
Pri            8145 non-null float64
Status         8145 non-null object
Opened         8145 non-null datetime64[ns]
Closed         8145 non-null datetime64[ns]
Time           8145 non-null float64
Analyst        8145 non-null object
Customer       8145 non-null object
Description    8145 non-null object
Region         8145 non-null object
Resolution     8145 non-null object
dtypes: datetime64[ns](2), float64(2), object(7)
memory usage: 763.6+ KB

In [178]:
#Find out first opened AHD
df1['Opened'].min()

Timestamp('2013-12-18 00:44:00')

In [179]:
#Find out first opened AHD
df['Opened'].min()

Timestamp('2012-01-05 08:08:00')

In [180]:
df1['Opened'].max()

Timestamp('2014-12-26 01:51:00')

In [181]:
df['Opened'].max()

Timestamp('2014-12-26 01:51:00')

In [182]:
df['Opened'].max()-df['Opened'].min()

Timedelta('1085 days 17:43:00')

In [183]:
#Find out the time duration of this data?
df1['Opened'].max()-df1['Opened'].min()

Timedelta('373 days 01:07:00')

In [184]:
#df1.groupby(['Customer', 'AHD']).count()
df1.groupby('Customer')['AHD'].nunique().max()

90

In [138]:
#Who filed most AHD
df1['Customer'].value_counts()

Khan, Sandhya                90
Mathekar, Parag              63
Bhoot, Aniruddha             52
Jadhav, Jagdish              50
Borawake, Parag              47
Thorbole, Suyog              43
Shrimali, Girish             42
Kamsala, Ramakrishna         39
Joshi, Milind                37
Tekule, Prashant             35
Chaudhari, Mahesh            33
Palshikar, Gaurav            33
Gupta, Pradeep               32
Paralikar, Vaibhav           32
Jain, Deepak                 31
Bhanegaonkar, Sachin         29
Adnaik, Shailendra           28
Mehetre, Nikhil              28
Gadekar, Sagar               28
Hamdapure, Swapnil           27
Sali, Pradeep                27
Thorat, Abhijit              27
Pande, Shashank              26
Gandhe, Ajay                 26
Niwal, Dhananjay             25
Deshpande, Prasad            25
Diwan, Kalyan                25
Naikwadi, Shreyas            25
Patil, Mukund                24
Jathar, Pravin               24
                             ..
Lies, Joseph                  1
Kate, Amol                    1
Joshi, Amit                   1
Thogaru, Vijayapal            1
Mathews, Manu                 1
Paretha, Nitin Kumar          1
Singh, Manoj                  1
Bidwai, Uday                  1
Kalal, Raghavendra            1
Jadhav, Rajiv                 1
Wehrman, Paul                 1
Patnaik, Umamaheshwararao     1
Patil, Vinit                  1
Salvi, Suchita                1
Abak, Kamlesh                 1
Suman, Shreya                 1
Adake, Satish                 1
Jha, Nitish Ranjan            1
Padakanti, Ravikanth          1
Patekar, Yamini               1
Mali, Anand                   1
Deshpande, Vishal             1
Subramaniam, Selvanayaki      1
Kale, Yogesh                  1
Dev, Projyal                  1
Bose, Ayan                    1
Chavan, Chetan                1
Khedkar, Sumit                1
Joshi, Pradyumna              1
Kulkarni, Pavan               1
Name: Customer, Length: 1298, dtype: int64

In [185]:
df1['Customer'].value_counts()[0:1]

Khan, Sandhya    90
Name: Customer, dtype: int64

In [186]:
#Who solved most AHD
df3=df1['Analyst'].value_counts()
df3[0:1]

Bansode, Santosh    1751
Name: Analyst, dtype: int64

In [189]:
df1['Region'].value_counts()[0:1]

Products    7108
Name: Region, dtype: int64

In [190]:
df4=df1.Closed-df1.Opened
df1['AHD_Fix_Time'] = df4
df1.head()

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,AHD,Pri,Status,Opened,Closed,Time,Analyst,Customer,Description,Region,Resolution,AHD_Fix_Time
0,1269998,2.0,Closed,2014-01-06 07:09:00,2014-01-06 07:33:00,0.0,"Bansode, Santosh","Elankuppan, Mohan",Suddenly my Desktop is not working - pni6w851 ...,Products,H/W Failure,00:24:00
1,1270377,2.0,Closed,2014-01-06 22:49:00,2014-01-06 23:10:00,0.0,"Mehtre, Ram","Labhasetwar, Amruta",Skillsoft course unable to run.,Products,S/W Configuration,00:21:00
2,1272796,2.0,Closed,2014-01-12 23:25:00,2014-01-12 23:30:00,0.0,"Shinde, Vinayak","Surka, Zoher",Please unlock the PLM account of Abhishek Ragh...,Products,Password Reset,00:05:00
3,1277147,2.0,Closed,2014-01-23 01:11:00,2014-01-23 02:27:00,0.0,"Mehtre, Ram","Gundage, Vishal",Hello I am not able to connect to our any intr...,Products,S/W Configuration,01:16:00
4,1278093,2.0,Closed,2014-01-26 22:33:00,2014-01-26 23:05:00,0.0,"Kshirsagar, Ganesh","Patil, Ashutosh","Hi, I am facing startup problems with my prima...",Products,S/W Configuration,00:32:00

In [207]:
#Find out AHD solved in shortest time
df1['AHD_Fix_Time'].min()

Timedelta('0 days 00:01:00')

In [208]:
df1.loc[df1['AHD_Fix_Time'].idxmin()]

AHD                                          1320306
Pri                                                3
Status                                        Closed
Opened                           2014-05-14 05:13:00
Closed                           2014-05-14 05:14:00
Time                                               0
Analyst                               Singh, Mandeep
Customer                              Jathar, Pravin
Description     Prepare the new laptop for the user.
Region                                      Products
Resolution                            System Rebuild
AHD_Fix_Time                         0 days 00:01:00
Name: 2560, dtype: object

In [209]:
#Find out AHD solved in largest time
df1.loc[df1['AHD_Fix_Time'].idxmax()]

AHD                                                       1274129
Pri                                                             5
Status                                                     Closed
Opened                                        2014-01-15 06:52:00
Closed                                        2014-04-07 23:49:00
Time                                                          531
Analyst                                           Sharma, Randhir
Customer                                             More, Ranjit
Description     Devops addin not working as expected for VS201...
Region                                                   Products
Resolution                                      User Consultation
AHD_Fix_Time                                     82 days 16:57:00
Name: 7883, dtype: object

In [216]:
df5=df1['Opened'].dt.month
df1['Month_AHD_Open'] = df5
df1.tail()

AttributeError: 'Series' object has no attribute 'month'

In [213]:
#In which month most AHDs was raised
df1['Month_AHD_Open'].value_counts()

7     832
6     787
9     766
8     720
4     704
1     682
11    668
5     665
2     632
3     622
10    615
12    452
Name: Month_AHD_Open, dtype: int64

In [215]:
df1['Month_AHD_Open'].value_counts()[0:1,]

7    832
Name: Month_AHD_Open, dtype: int64